# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
macOS/

# Python
__pycache__/
*.py[cod]
*$py.class

# Data and Models
/ani1e/
*.keras
*.h5
*.hdf5

# Output
*.png
*.pdf

# Jupyter Notebook
.ipynb_checkpoints
